<span
  ><img
    src="/assets/bilder/ufo2.png"
    width="220px"
    height="auto"
    style="float: left"
/></span>
<div class="textAbout">
  <h1>Hi, we are your Date Universe!</h1>
  <p>
    Do you also struggle organizing, remembering or finding date ideas? Then you
    need our App! <br /><br />Date Universe makes it easy to keep track of your
    date ideas. You can easily write them down in a List. To get them organized
    you can use our labels and categorize your entries. <br /><br />And if you
    don’t have an idea just in that moment, scroll our premade list of dates.
    There's a date to match your and your partner's interests for sure.
    <br /><br />Nice to know - it works offline and you can also download our
    App to your own device to get the native, app-like feeling and the best user
    experience! <br /><br />Due to technical standards push notifications for
    updates are not available for MacOS, we are so sorry…
  </p>
  <p>Your Date Universe Team,<br />Frauke, Lisa, René, Selina</p>
</div>
<br />

<span
  ><img
    src="/assets/bilder/ufo1.png"
    width="560px"
    height="auto"
    style="float: right"
/></span>
