<span
  ><img
    src="/assets/bilder/ufo2.png"
    width="220px"
    height="auto"
    style="float: left"
/></span>
<div class="textAbout">
  <h1><br/>Hi, we are your</h1>
  <h4>Date Universe!</h4>
  <p>
    <br/><br/>Do you also struggle organizing, remembering or finding date ideas? Then you
    need our App! <br/>Date Universe makes it easy to keep track of your
    date ideas. You can easily write them down in a List. To get them organized
    you can use our labels and categorize your entries. <br/><br/>And if you
    don’t have an idea just in that moment, scroll our premade list of dates.
    There's a date to match your and your partner's interests for sure.
    <br/>Nice to know - it works offline and you can also download our
    App to your own device to get the native, app-like feeling and the best user
    experience! <br/><br/>Due to technical standards push notifications for
    updates are not available for MacOS, we are so sorry…
  </p>
  <p><br/><br/>Your Date Universe Team,<br/><br/>Frauke, Lisa, René, Selina</p>
</div>
<br />

<span
  ><img
    src="/assets/bilder/ufo1.png"
    width="560px"
    height="auto"
    style="float: right"
/></span>
