<div>
  <button
    mat-flat-button
    color="accent"
    aria-label="Synchronise Date Ideas"
    (click)="sync()"
  >
    Sync
  </button>
</div>

<div class="inputSection">
  <input
    #dateInput
    placeholder="Your Date Idea"
    aria-label="Enter Date Idea"
    required="required"
  />
  <div class="category">
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
        <select #dateCategory matNativeControl required>
          <option value="romantic">Romantic</option>
          <option value="classic">Classic</option>
          <option value="action">Action</option>
          <option value="humor">Humor</option>
        </select>
    </mat-form-field>
  </div>
  <button
    mat-flat-button
    color="accent"
    aria-label="Add your date idea"
    (click)="add(dateInput.value, dateCategory.value)"
  >
    Add
  </button>
</div>

<div class="listSection">
  <ul>
    <li *ngFor="let date of dates" [class.done]="date.done">
      <input type="checkbox" [checked]="date.done" (click)="toggleDone(date)" />
      {{ date.title }}
    </li>
  </ul>
</div>
