<div>
  <button
    mat-flat-button
    color="#E615BA"
    aria-label="Synchronise Date Ideas"
    (click)="sync()"
  >
    Sync
  </button>
</div>

<div class="inputSection">
  <input
    #dateInput
    placeholder="Your Date Idea"
    aria-label="Enter Date Idea"
    required="required"
  />
  <div class="category">
    <mat-form-field appearance="fill">
      <mat-label>Date Category</mat-label>
      <mat-select #dateCategory>
        <mat-option value="romantic">Romantic</mat-option>
        <mat-option value="classic">Classic</mat-option>
        <mat-option value="action">Action</mat-option>
        <mat-option value="humor">Humor</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button
    mat-flat-button
    color="#E615BA"
    aria-label="Add your date idea"
    (click)="add(dateInput.value, dateCategory.value)"
  >
    Add
  </button>
</div>

<div class="listSection">
  <ul>
    <li *ngFor="let date of dates" [class.done]="date.done" class="dateEntry">
      <input type="checkbox" [checked]="date.done" (click)="toggleDone(date)" />
      {{ date.title }} <br />
      {{ date.category }} <br />
      <button class="btn" mat-flat-button></button>
    </li>
  </ul>
</div>
