h1 {
  font-size: 50pt;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  line-height: 50pt;
}

h2 {
  font-size: 14pt;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 14pt;
  margin-top: 40px;
}
h4 {
  font-size: 50pt;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #e615ba;
  line-height: 50pt;
}

.headings {
  color: white;
  margin: 60px 0px 0px 30px;
}

ul {
  list-style-type: none;
}

.head-dates {
  position: absolute;
  top: 40%;
  font-size: 14pt;
}

button {
  background-color: #e615ba;
  color: white;
  margin: 15px;
  border-radius: 12px;
  font-size: 12pt;
}

input {
  font-size: 14pt;
}

li {
  margin-top: 30px;
}

.dateCard {
  border-radius: 12px;
  background-color: #9b8ee3;
  text-align: center;
  width: 260px;
  height: 150px;
  display: inline-flex;
  float: left;
  margin: 20px 40px 20px;
  flex-wrap: wrap;
  padding: 30px;
  color: white;
  font-size: 14pt;
}

.ideaInput {
  border-radius: 12px;
  height: 50px;
  min-width: 80px;
  color: #e615ba;
  padding-left: 10px;
  font-size: 14pt;
  margin-top: 5px;
}

.inputSection {
  margin: 30px;
  display: inline-flex;
  flex-wrap: wrap;
}

.sync {
  display: inline-flex;
  float: right;
  flex-wrap: wrap;
}

.btn {
  background-color: #e615ba;
  color: white;
  border-radius: 15px;
  float: right;
  height: 45px;
  width: 30px;
  border-radius: 12px;
  text-align: center;
}

.cardTitle {
  min-width: 100%;
  font-size: 18pt;
  margin-bottom: 40px;
}

.cardCat {
  min-width: 100%;
  font-size: 14pt;
}
