ul {
  list-style-type: none;
}

.head-dates{
position: absolute;
top: 40%;
font-size: 12pt;
}

.h1{
font-weight: 400;
font-size: 40px;
color: #ffffff;
line-height: 1.2;
text-transform: uppercase;
letter-spacing: 0.2em;
}

button{
  background-color: #E615BA;
  color: white;
  margin: 15px;
  border-radius: 12px;
  font-size: 12pt;
}

input{
  border-radius: 12px;
  margin: 15px;
  min-height: 30px;
  min-width: 80px;
  color: #E615BA;
  padding-left: 10px; 
  font-size: 12pt;
}

.inputSection{
  margin-top: 20px;
  display: inline-flex;
  float:left;
  flex-wrap: wrap;
}

.sync{
  display: inline-flex;
  float:right;
  flex-wrap: wrap;
}

