/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.mat-drawer-content {
  background-color: #16034a;
}

ul {
  margin: 0;
  color: white;
}

.mat-select-option {
  color: #e615ba;
}

.mat-form-field-infix {
  background-color: white !important;
  font-size: 14pt !important;
  border-radius: 12px !important;
  color: #e615ba !important;
}

.mat-select-min-line {
  color: #e615ba !important;
}

.mat-select {
  margin-left: 6px;
}

.mat-form-field-hint-wrapper {
  padding: 0%;
}
